.rct-item {
  color: black !important;
}

.item-PLAN_TIMES {
  background-color: #ffe0008c !important;
  border-color: #ffe0008c !important;
}

.item-RESULT_TIMES {
  background-color: #004eff57 !important;
  border-color: #004eff57 !important;
}

.item-RESULT_RATE {
  background-color: #ff00e08c !important;
  border-color: #ff00e08c !important;
}

.rct-item-content {
  display: inline-flex !important;
  justify-content: space-between;
  width: 100%;
}

.close {
  color: white;
  font-weight: bold;
  background-color: red;
  height: 17px;
  width: 17px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin: auto 0;
}
